/* Código para deixar o fundo da página preto  */
body
{
    background-color: #000000; 
   /* background-image: url("Image/Banner.png");*/
}
/* Caso queira que apenas um parágrafo receba as alterações, usa-se "id"
Exemplo:
     No CSS
     #paragrafo
    {
           font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
           font-size: larger;
           font-weight: bold;
           text-decoration: none;
           text-indent: 50px;
           color: #ffffff;
    }

No HTML

<p id="paragrafo">"Não nasci para vida de gado. Sou um selvagem puro sangue!"</p> */
*
{
 margin: 0;
 padding: 0;
}
.Banner
{
   position: absolute;
   top: 0px;
   width: 100%;
   height: 30px;
   background-color: #363636;
   border-bottom: 1px solid #191970;
   /*Esta configuração é do texto da div*/
   font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
   font-size: larger;
   font-weight: bold;
   text-align: center;
   color: #FFD700;
   padding: 10px;
   z-index: 1;
}

.banner2
{
  position: absolute;
  top: 80px;
  left: 460px;
  z-index: 3;
}

#logo
{
  position: absolute;
  top: 0;
  left:10px;
  z-index: 2; /*Define a prioridade de ficar por cima. Quanto maior mais por cima ficará*/
}

#corpo
{
  position: absolute;
  left: 40px;
  width: 94%;
  top: 300px;
  height: 500px;
  background-color: #1C1C1C;
}
/*a (quando as propriedades servem para todos os links
{

}
#mg
{
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
color: #FFD700;
text-decoration: underline;
}

a :hover (Ao passar o mouse)
{
color: #ff0000;
}
a: :active ( Ao clicar)
{
    font-size: 18px;
}*/
p
{
   font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
   font-size: larger;
   font-weight: bold;
   text-align: center;
   color: #FFD700;
   
}
.menu 
{
   list-style-type: none;
   position: absolute;
   left: 40px;
   top: 250px;
   float: left;
}

.menu li
{
position: relative;
float: left;
padding-right: 20px;
padding-left: 20px;
font-family: DreamLand Std;
color: #FFD700;
background-color: #1C1C1C ;
cursor: pointer;
width: 25x;
height: 25px;
line-height: 25px;
}

.menu li :hover
{
   color: #808080;
   cursor: pointer;
}

.menu li a 
{
   color: #FFD700;
   text-decoration: none;
}

 .menu li ul
{
position: absolute;
list-style-type: none;
top: 28px;
background-color: #1C1C1C;
opacity: 0;
visibility: hidden;
z-index: 20;
}

.menu li ul li :hover > ul
{
  opacity: 1;
  visibility: visible;
}

.menu li ul li
{
width: 150px;
height: 25px;
line-height: 25px;
}

/*.banner2 :hover
{
   width: 1000px;
   height: 1000px;
    color: #ffd700;
   background-color: #1C1C1C;
}*/


  