/* Código para deixar o fundo da página preto  */
body
{
    background-color: #000000; 
   /* background-image: url("Image/Banner.png");*/
}
/* Caso queira que apenas um parágrafo receba as alterações, usa-se "id"
Exemplo:
     No CSS
     #paragrafo
    {
           font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
           font-size: larger;
           font-weight: bold;
           text-decoration: none;
           text-indent: 50px;
           color: #ffffff;
    }

No HTML

<p id="paragrafo">"Não nasci para vida de gado. Sou um selvagem puro sangue!"</p> */
*
{
 margin: 0;
 padding: 0;
}
.Banner
{
   position: absolute;
   top: 0px;
   width: 100%;
   height: 30px;
   background-color: #363636;
   border-bottom: 1px solid #191970;
   /*Esta configuração é do texto da div*/
   font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
   font-size: larger;
   font-weight: bold;
   text-align: center;
   color: #FFD700;
   padding: 10px;
   z-index: 1;
}

.banner2
{
  position: absolute;
  top: 80px;
  left: 460px;
  z-index: 3;
}

#logo
{
  position: absolute;
  top: 0;
  left:10px;
  z-index: 2; /*Define a prioridade de ficar por cima. Quanto maior mais por cima ficará*/
}
/*a (quando as propriedades servem para todos os links
{

}
#mg
{
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
color: #FFD700;
text-decoration: underline;
}

a :hover (Ao passar o mouse)
{
color: #ff0000;
}
a: :active ( Ao clicar)
{
    font-size: 18px;
}*/
p
{
   font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
   font-size: larger;
   font-weight: bold;
   text-align: center;
   color: #FFD700;
   
}

/*.banner2 :hover
{
   width: 1000px;
   height: 1000px;
}*/